/* https://www.figma.com/file/FFxqnf1cEDiHhvFpN6u4hV/quote?type=design&node-id=0-1&mode=design&t=BhtndfSb8Adfr5R8-0 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@500;700&display=swap');

/* 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
*/

:root {
  --titleBlackStrong: #333333;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--titleBlackStrong);
}

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button { 
  cursor: pointer;

 }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#app { 
  height: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh auto 10vh;
  grid-template-areas: 
  "header"
  "page"
  "footer";
}

main {
  grid-area: page;
  min-height: 80vh;
  height: auto;
}

p.quote {
  width: 90%;
  font: 500 2.25rem 'Raleway', sans-serif;
  border-left: 5px solid #F7DF94;
  padding-left: 3vw;
}